@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 13, 17, 23; /* Slightly lighter than black for depth */
    --background-end-rgb: 23, 27, 33; /* A gradient end that's not pure black */
    --border-color-rgb: 100, 100, 100; /* For better visibility of borders */
  }

  body,
  button,
  input,
  textarea {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
  }

  .container,
  .bg-white {
    background-color: rgb(
      var(--background-start-rgb)
    ); /* Ensure containers stand out */
    border-color: rgb(
      var(--border-color-rgb)
    ); /* Adjust border colors for visibility */
  }

  /* Additional styling for buttons, links, etc., to ensure they are readable and accessible */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Add responsive utilities and merge @layer base */
@layer base {
  body {
    @apply text-sm;
  }
  h1 {
    @apply text-lg;
  }
  h2 {
    @apply text-base;
  }
  .container {
    @apply mx-auto px-4;
  }

  header {
    background-color: rgb(12, 0, 64);
  }

  .tabs {
    background-color: rgb(12, 0, 64);
  }

  @media (min-width: 768px) {
    body {
      @apply text-base;
    }
    h1 {
      @apply text-xl;
    }
    h2 {
      @apply text-lg;
    }
    .container {
      @apply max-w-xl;
    }
  }

  @media (min-width: 1024px) {
    .container {
      @apply max-w-2xl;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
